
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
	overflow-x: hidden;
}

.parallax-window {
	min-height: 100vh;
	background: transparent;
	display: flex;
	align-items: center;
}
.bofang{
	height: 50px;
	width: 50px;
	margin-top: -520px;
    margin-left: 0px; 
}

.tm-text-white { color: #fff; }

.tm-page-1-content { 
	padding-top: 1vh;
	align-items: center;
}

.tm-page-2{
	max-width: 800px;
}
.tm-bg-white {
	padding: 20px;
	background-color: white;
	opacity: 0.8;
	width: 100%;
}

.tm-bg-white2 {
		padding: 20px;
		background-color: white;
		opacity: 0.8;
		width: 100%;
		margin: 0px;
}

h1 {
	font-size: 4rem;
	text-shadow: 2px 2px 8px #000000;
	padding-bottom: 20px;
}

h2 {
	padding-bottom: 20px;
	font-weight: 400;
}

h5 {
	padding-left: 20px;
	font-size: 2rem;
	font-weight: 500;

}

.tm-bg-white-transparent {
	margin: 5px;
	padding: 40px;
	background-color: #ffffffc4;
	max-width: 340px;
	width: 100%;
	margin: 20px;
}

.tm-bg-white-transparent-page3 {
	margin-left: 100px;
	
}
.container {
	float: right;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right:auto;
	margin-left: auto;
}

.tm-btn-block {
	display: block;
}

.tm-btn-right {
	float:right;
}
.btn-danger {
	font-size: 1.5rem;
	margin-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C66666;
	border-color: #C66666;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}
.row2{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -400px;
	margin-left: auto;
}